.link {
  cursor: pointer;
  background-color: black;
  color:white;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500px;
}

.burger {
  width: 20px;
  height: 16px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  display: none;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--textColor);
}

.responsiveMenu{
  position: absolute;
  top: 70px;
  right: 30px;
  background-color:#111b34;
  height: 400px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 25px;
  z-index: 999;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;

}
.l{
  color: rgb(255, 255, 255);
  font-weight: 600;

}

@media screen and (max-width: 1280px) {
  .esponsiveMenu {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .esponsiveMenu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .esponsiveMenu {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .burger {
    display: flex;
  }

  .link{
    display: none;
  }

}
