.con{
    width: 80%;
    height: 400px;
    background-color: black;
    border-radius: 20px;
    margin-left: 140px;
    position: relative;
 align-items: center;
 justify-content: center;
} 

.p{
    color:rgb(26, 112, 187);

    position:absolute;
    top: 100px;
    left: 400px;
    font-weight: 1000;
    font-stretch: expanded;
    font-size: x-large;
    
}
.link{
    position: absolute;
    top:140px;
    left: 300px;
    color: aliceblue;
    font-size: xx-large;
    font-weight: 800;
    
}

@media screen and (max-width: 1280px) {
    .con {
      width: 80%;
      margin-left: 120px;
    }
    .p{
        position:absolute;
        top: 100px;
        left: 200px;
    }
    .link{
        position:absolute;
        top: 160px;
        left: 200px;  
        font-size: medium;
        font-weight: 800;
    }
  }
  @media screen and (max-width: 1024px) {
    .con {
      width: 80%;
      margin-left: 80px;
    }
    .p{
        position:absolute;
        top: 100px;
        left: 100px;
    }
    .link{
        position:absolute;
        top: 130px;
        left: 100px;   
    }
  }
  @media screen and (max-width: 768px) {
    .con {
      width: 80%;
      margin-left: 80px;
    }
    .p{
        position:absolute;
        top: 100px;
        left: 90px;  
    }
    .link{
        position:absolute;
        top: 160px;
        left: 90px;  
        font-size: medium;
        font-weight: 800;
  }
}
  @media screen and (max-width: 640px) {
    .con {
      width:80%;
      margin-left: 40px;
    }
    .p{
        position:absolute;
        top: 100px;
        left: 20px;  
    }
    .link{
        position:absolute;
        top: 160px;
        left: 20px;  
        font-size: medium;
        font-weight: 800;
    }
  }