.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.imageContainer {
  flex:1;
  height: 350px;
  position: relative;
}

.image {
  object-fit: cover;
  margin-top: 10px;
}

.textContainer {
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}
.h{

  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size:x-large;
  word-spacing: 0;
}
.hr{
  border: 1px solid #111b34;
 
}

.h1{
text-align: center;
  position: relative;
 
}
@media screen and (max-width: 1024px) {

    .container {
      
      display: flex;
      flex-direction: column;
      align-items: normal;

  
    }
 
    .textContainer {
      flex:none;
   
    }
    .imageContainer {
      flex:none;
      height: 250px;
      position: relative;

    
      
    }
    .image{
      object-fit:fill;
    }
    .h{
      color: red;
      font-family:"Noto Sans Ethiopic", Arial, Verdana, Geneva, Helvetica, sans-serif;;
      font-weight: 1.75rem;
      line-height: 2rem;
      font-size:x-large;
      font-style: normal;
    }
    .desc {
      font-size:medium;
      font-weight: 100;
      color: var(--softTextColor);
    }
    .cont{
       display: flex;
      
    
      
       
    
  }
    
.h1{
 
    position: relative;
   top: 10px;
   }
  }